/*Shared Styles*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #EBEBEB;
  font-family: Noto Serif;
}
.main{
  margin: 20px 50px;
}
section{
  margin-bottom: 50px;
}
/*Nav-bar Section*/

.container{
  justify-content: center;
  align-items: center;
}
.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
 margin-left: 1.875rem;
 margin-right: 1.875rem;
 margin-top: 10px;
}
.menu-bar ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style-type: none;
}
.menu-bar a{
  text-decoration: none;
  color: black;
}
.crt-txt{
  font-weight: 600;
  color: darkorange;
  font-size: 1.25rem;
}

/*Banner Section*/
.hero-section{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
.para{
  margin-top: 150px;
}
.large{
  font-size: 40px;
}
.style-text{
  color: #FF6A00;
}
.bn-txt{
  font-size: 16px;
  color: #747474;
}

/*Plants Section*/

.plants .plants-text{
  text-align: center;
  margin: 50px;
}

.cards{
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 20px;
  
}
.cards h3{
  text-align: center;
}
.cards button{
 width: 100%;
 padding: 10px;
 margin-top: 5px;
 background-color: #FF6A00;
 color: white;
 border: 0px;
 font-weight: 700;
}
.cards img{
  width: 100%;
  height: auto;
}
.cards div{
  box-shadow: 4px 6px 10px 0px rgba(0, 0, 0, 0.25);
}
.cards button:hover{
  background-color: #FF0000;
}












/*Responsive Section*/

@media screen and (max-width: 600px){
 .main{
    margin: 10px ;
  }
  /*Nav-bar Section*/
  .nav-bar{
    margin: 0 auto;
    padding: 10px;
  }
.menu-bar li:not(.cart){
  display: none;
}
.menu-bar li.cart{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart img{
  width: 20px;
  height: 20px;
}
.crt-txt{
  font-size: 80%;
}
.logo img{
  width: 70px;
  height: 40px;
}
/*Banner Section Responsive*/
.hero-section{
  flex-direction: column-reverse;
  margin: 0 auto;
  
}
.para{
  margin-top: 10px;
}
.large{
  font-size: 28px;
}
.bn-txt{
  font-size: 12px;
}
.img img{
  width: 100%;
}

/*Plants Section Responsive*/
.cards{
  grid-template-columns: repeat(2, 1fr);
}
.plants .plants-text {
  text-align: center;
  margin: 10px;
  margin-bottom: 30px;
}
}